<style>
  :root {
    /* CAUTION THIS IS FROM TURBO - DELETE THIS SOON IT'S ONLY HERE TO REMOVE AN ERROR MESSAGE */
    /* ALL TURBO THEME SETTINGS */
    /* Defined as CSS variables */

    --primary-color: {{ settings.header_bg_color }};
    --secondary-color: {{ settings.btn_color }};
    --danger-color: {{ settings.banner_button_color }};

    --shop-background-color: {{ settings.shop_bg_color }};

    --border-color: {{ settings.border_color }};
    --divider-style: {{ settings.divider_style }};

    /* Fonts & Text styles */
    --regular-color: {{ settings.regular_color }};
    --regular-font-family: {{ settings.regular__font.family }}, {{ settings.regular__font.fallback_families }};
    --regular-font-weight: {{ settings.regular__font.weight }};
    --regular-font-style: {{ settings.regular__font.style }};
    --regular-font-size: {{ settings.regular_font_size }}px;
    --regular-text-transform: {{ settings.regular_font_style }};

    --logo-color: {{ settings.logo_color }};
    --logo-font-family: {{ settings.logo__font.family }}, {{ settings.logo__font.fallback_families }};
    --logo-font-weight: {{ settings.logo__font.weight }};
    --logo-font-style: {{ settings.logo__font.style }};
    --logo-font-size: {{ settings.logo_font_size }}px;
    --logo-text-transform: {{ settings.logo_font_style }};

    --headline-color: {{ settings.headline_color }};
    --headline-font-size: {{ settings.headline_font_size }};
    --headline-font-family: {{ settings.headline__font.family }}, {{ settings.headline__font.fallback_families }};
    --headline-font-weight: {{ settings.headline__font.weight }};
    --headline-font-style: {{ settings.headline__font.style }};
    --headline-letter-spacing: {{ settings.headline_letter_spacing }}px;
    --headline-border-color: {{ settings.headline_border_color }};

    --nav-color: {{ settings.nav_color }};
    --nav-color-hover: {{ settings.nav_color_hover }};
    --nav-active-color: {{ settings.nav_active_color }};
    --nav-color-home: {{ settings.nav_color_home }};
    --nav-font-size: {{ settings.nav_font_size }}px;
    --nav-font-family: {{ settings.nav__font.family }}, {{ settings.nav__font.fallback_families }};
    --nav-font-weight: {{ settings.nav__font.weight }};
    --nav-font-style: {{ settings.nav__font.style }};
    --nav-text-transform: {{ settings.nav_font_style }};
    --nav-letter-spacing: {{ settings.nav_letter_spacing }}px;

    --slideshow-heading-font-family: {{ settings.slideshow_headline__font.family }}, {{ settings.slideshow_headline__font.fallback_families }};
    --slideshow-heading-font-weight: {{ settings.slideshow_headline__font.weight }};
    --slideshow-heading-font-style: {{ settings.slideshow_headline__font.style }};
    --slideshow-heading-text-transform: {{ settings.slideshow_headline_font_style }};
    --slideshow-heading-size: {{ settings.slideshow_headline_size }}px;
    --slideshow-heading-letter-spacing: {{ settings.slideshow_headline_letter_spacing }}px;

    --slideshow-subtitle-font-family: {{ settings.slideshow_subtitle__font.family }}, {{ settings.slideshow_subtitle__font.fallback_families }};
    --slideshow-subtitle-font-weight: {{ settings.slideshow_subtitle__font.weight }};
    --slideshow-subtitle-font-style: {{settings.slideshow_subtitle_font_style}};
    --slideshow-subtitle-font-size: {{settings.slideshow_subtitle_size}}px;
    --slideshow-subtitle-letter-spacing: {{settings.slideshow_subtitle_letter_spacing}}px;

    --link-color: {{ settings.link_color }};
    --link-hover-color: {{ settings.link_hover_color }};

    /* Top Bar */
    --top-bar-color: {{ settings.top_bar_color }};
    --top-bar-color-hover: {{ settings.top_bar_color_hover }};
    --top-bar-background-color: {{ settings.top_bar_bg_color }};
    --top-bar-font-size: {{ settings.top_bar_font_size }}px;
    --top-bar-letter-spacing: {{ settings.top_bar_letter_spacing }}px;
    --top-bar-cart-background-color: {{ settings.top_bar_cart_bg_color }};

    /* Promo Bar */
    --promo-background-color: {{ settings.promo_bg_color }};
    --promo-text-color: {{ settings.promo_text_color }};

    /* Mini Cart */
    --mini-cart-background-color: {{ settings.minicart_bg_color }};

    /* Modal */
    --modal-background-color: {{ settings.modal_background_color }};
    --modal-text-color: {{ settings.modal_text_color }};

    /* Header */
    --header-bg-color: {{ settings.header_bg_color }};

    /* Mega Menus */
    --mega-text-font-size: {{ settings.mega_text_font_size }}px;
    --mega-text-letter-spacing: {{ settings.mega_text_letter_spacing }}px;

    /* Search */
    --search-background-color: {{ settings.search_section_bg_color }};
    --search-color: {{ settings.search_section_color }};

    /* Side Bar */
    --sidebar-nav-color: {{ settings.sidebar_nav_color }};
    --sidebar-nav-color-hover: {{ settings.sidebar_nav_color_hover }};

    /* Buttons */
    --button-color: {{ settings.btn_color }};
    --button-color-hover: {{ settings.btn_hover_color }};
    --button-text-color: {{ settings.btn_text_color }};
    --button-font-size: {{ settings.button_font_size }}px;
    --button-font-weight: {{ settings.button_weight }};
    --button-text-transform: {{ settings.button_font_style }};

    /* Banner */
    --banner-background-color: {{ settings.banner_background_color }};
    --banner-button-color: {{ settings.banner_button_color }};
    --banner-color: {{ settings.banner_color }};
    --banner-placeholder-background-color: {{ settings.banner_placeholder_background_color }};

    /* Featured Links */
    --featured-links-background-color: {{ settings.featured_links_background }};

    /* Featured Promotions */
    --featured-promotions-background-color: {{ settings.featured_promotions_background }};
    --featured-promotions-color: {{ settings.featured_promotions_color }};
    --featured-promotions-color-hover: {{ settings.featured_promotions_color_hover }};

    /* Fancy Box / Flickity */
    --fb-arrow-color: {{ settings.arrow_color }};

    /* Testimonial */
    --testimonial-background-color: {{ settings.testimonial_bg_color }};
    --testimonial-color: {{ settings.testimonial_color }};

    /* Newsletter */
    --newsletter-background-color: {{ settings.newsletter_section_background_color }};
    --newsletter-color: {{ settings.newsletter_section_color }};
    --newsletter-popup-color: {{ settings.newsletter_popup_color }};
    --newsletter-popup-background-color: {{ settings.newsletter_popup_background_color }};
    --newsletter-popup-text-align: {{ settings.newsletter_popup_text_align }};

    /* Products */
    --sale-color: {{ settings.sale_color }};
    --sale-background-color: {{ settings.sale_banner_color }};
    --new-background-color: {{ settings.new_banner_color }};
    --was-price-color: {{ settings.was_price_color }};
    --product-hover-text-color: {{ settings.product_hover_text_color }};
    --product-hover-background-color: {{ settings.product_hover_bg_color }};

    /* Collections */
    --product-image-height: {{ settings.collection_height }}px;

    /* Footer */
    --footer-text-color: {{ settings.sub_footer_text_color }};
    --footer-bg-color: {{ settings.sub_footer_color }};
    --footer-heading-font-size: {{ settings.footer_heading_font_size }}px;
    --footer-heading-color: {{ settings.headline_footer_text_color }};
    --footer-font-size: {{ settings.footer_font_size }}px;
    --footer-logo-font-size: {{ settings.footer_logo_font_size }}px;

    /* Footer Credits */
    --sub-footer-background-color: {{ settings.sub_footer_color }};
    --sub-footer-border-color: {{ settings.sub_footer_border_color }};
    --sub-footer-text-color: {{ settings.sub_footer_text_color }};
    --sub-footer-link-color: {{ settings.sub_footer_link_color }};
    --sub-footer-link-color-hover: {{ settings.sub_footer_link_color_hover }};

    /* Home Page */
    --home-page-content-text-color: {{ settings.shop_home_page_content_text_color }};
    --home-page-content-background-color: {{ settings.shop_home_page_content_bg_color }};

  }
  </style>