/* # Mega menu
================================================== */

.mega-menu-section {
  display: none;
}

#header .is-width-wide .mega-menu {
  width: calc(100% + #{$gutter});
  left: calc(-#{$gutter} / 2); // Used to break out of the container on full width
}

.header--search-focus .mega-menu {
  overflow: auto;
}

.mega-menu {
  display: none;
  left: 0;
  font-size: $drop-down-menu-font-size;
  letter-spacing: $drop-down-menu-letter-spacing;
  text-transform: $drop-down-menu-font-style;
  position: absolute;
  top: 100%;
  width: 100%;
  min-width: 100%;
  z-index: 20;
  box-shadow: 0 8px 8px rgba($black, 0.1);

  @include respond-to('medium-down') {
    box-shadow: 0;
  }

  &.mega-menu--show {
    display: block;
  }

  &.mega-menu--force-show {
    display: block !important;
    z-index: 30 !important;
  }

  a,
  a:active,
  a:visited {
    color: $drop-down-menu-active-color;
  }

  a:hover {
    color: $drop-down-menu-hover-color;
  }

  .menu__heading {
    margin-bottom: 10px;
    font-size: $drop-down-menu-heading-font-size;
    line-height: 1.2;
  }

  .mega-menu__linklist-link {
    display: inline-block;
    padding: 0.5em 0;
    line-height: 1;
  }

  .mega-menu__image {
    max-height: none;
  }
}

.mega-menu__block {
  padding: 20px;

  &.block__empty-column {

    @include respond-to('medium-down') {
      display: none;
    }
  }

  &.block__featured-promo .button {
    width: 100%;
  }

  .mega-menu__content {
    margin-top: 10px;

    &:first-child {
      margin-top: 0;
    }
  }

  &.block__featured-product .price {
    font-size: 0.9em;
  }
}

.mega-menu__banner {
  padding: 0.75em 1em;
  width: 100%;
  transition: background-color 0.2s linear;

  .icon {
    @include flex-shrink(0);
  }

  .mega-menu__sticker-text {
    padding: 0 0.5em;
  }

  // Sizes
  &.is-small {
    font-size: 0.8rem;
  }

  &.is-regular {
    font-size: 1rem;
  }

  &.is-large {
    font-size: 1.2rem;
  }
}

.navbar-item.has-mega-menu {
  position: static;
}

.mega-menu__section.is-active {

  .mega-menu {
    display: block;
  }
}

// Mega Menu stickers

.mega-menu__content {
  position: relative;
  width: 100%;

  .has-thumbnail-sticker .sticker-holder__content {
    font-size: 14px;
  }
}
