/* # Generic
================================================== */

$body-background-color: {{ settings.shop_bg_color }} !default;
$body-size: {{ settings.regular_font_size }}px !default;
$body-rendering: optimizeLegibility !default;
$body-family: {{ settings.regular__font.family }}, {{ settings.regular__font.fallback_families }} !default;
$body-color: $text !default;
$body-weight: $weight-normal !default;
$body-line-height: 1.5 !default;

$code-family: $family-code !default;
$code-padding: 0.25em 0.5em 0.25em !default;
$code-weight: normal !default;
$code-size: 0.875em !default;

$hr-background-color: $background !default;
$hr-height: 2px !default;
$hr-margin: 1.5rem 0 !default;

$strong-color: $text-strong !default;
$strong-weight: $weight-bold !default;

$table-striped-row-even-background-color: $white-bis !default;

html {
  background-color: $body-background-color;
  font-size: $body-size;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  min-width: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  text-rendering: $body-rendering;
  text-size-adjust: 100%;
  backface-visibility: hidden; // Used to correct webkit transform bug
}

main {
  min-height: 30vh; // Make sure header and footer aren't stuck together
}

article,
aside,
figure,
footer,
header,
main,
hgroup,
section {
  display: block;
}

body,
button,
input,
select,
textarea {
  font-family: $body-family;
}

code,
pre {
  -moz-osx-font-smoothing: auto;
  -webkit-font-smoothing: auto;
  font-family: $code-family;
}

// Inline

a {
  color: $link;
  cursor: pointer;
  text-decoration: none;
  transition: color $transition-speed ease-in-out;

  strong {
    color: currentColor;
  }

  &:hover {
    color: $link-hover;
  }
}

code {
  background-color: $code-background;
  color: $code;
  font-size: $code-size;
  font-weight: $code-weight;
  padding: $code-padding;
}

hr {
  background-color: $hr-background-color;
  border: none;
  display: block;
  height: $hr-height;
  margin: $hr-margin;
}

img {
  height: auto;
  max-width: 100%;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: baseline;
}

small {
  font-size: 0.875em;
}

span {
  font-style: inherit;
  font-weight: inherit;
}

strong {
  font-weight: $strong-weight;
}

// Block

fieldset {
  border: none;
}

pre {
  @include overflow-touch;

  background-color: $pre-background;
  color: $pre;
  font-size: 0.875em;
  overflow-x: auto;
  padding: 1.25rem 1.5rem;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    font-size: 1em;
    padding: 0;
  }
}

table {
  td,
  th {
    text-align: left;
    vertical-align: top;
  }

  th {
    color: $text-strong;
  }
}

.table.is-bordered {
  td,
  th {
    border: 1px solid $border;
    padding: 5px;
  }
}

.table.is-striped {
  tbody {
    tr:not(.is-selected) {
      &:nth-child(even) {
        background-color: $table-striped-row-even-background-color
      }
    }
  }
}

.noscript {
  display: none;
}
