/* # Blog
================================================== */

$blog-border: thin solid $border !default;

.blog__filter {
  margin-bottom: 20px;

  .select,
  select {

    @include respond-to('small-down') {
      width: 100%;
    }
  }

  .is-grouped {
    @include justify-content(flex-end);

    @include respond-to('medium-down') {
      @include justify-content(flex-start);
    }
  }
}

.blog-main {
  @include flexbox();

  .select {
    border-color: {{ settings.border_color }};
  }

}

.meta-info-list {
  font-size: 0.8em;
  .meta-info-list__item {
    margin-right: 5px;
    display: inline-block;
    a,
    span {
      padding-left: 5px;
      color: {{ settings.regular_color }};
    }

    &:first-child a,
    &:first-child span {
      padding-left: 0;
    }

    &:last-child {
      margin-right: 0;
    }

    & + li:before {
      content: "|";
      color: $text-light-opacity;
    }
  }
}

// vertical card styles
.blog-card {
  @include flexbox();
  @include flex-direction(column);
  @include justify-content(flex-start);
  border: $blog-border;
  box-shadow: 0 2px 3px {{ settings.border_color | color_modify: 'alpha', 0.1 }}, 0 0 0 1px {{ settings.border_color | color_modify: 'alpha', 0.1 }};
  @include respond-to('medium-down') {
    margin-bottom: 20px;
  }

  &.show-border-false {
    border: none;
    box-shadow: none;

    .card-content {
      padding-left: 0;
      padding-right: 0;
    }

    .blog-card__read-more {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .blog-card__content > div:not(:last-child),
  .meta-info > ul:not(:last-child) {
    margin-bottom: 1rem;
  }

  .image-element__wrap {

    @include respond-to('medium-up') {
      max-height: 15rem;
    }
  }

  .media-content {
    font-size: $title-size;
    .title {
      font-size: 0.8em;
    }
  }

  .blog-card__read-more {
    margin: auto 1.5rem 1.5rem;

    .button {
      height: auto;
      white-space: normal;
    }
  }
}

// horizontal card styles
.blog-card.is-horizontal {
  @include respond-to('medium-up') {

    @include flex-direction(row);
    @include flex-grow(0);
    @include flex-shrink(1);
    max-height: 330px;

    .blog-card__image {
      width: 33.33%;

      .image {
        position: relative;
        overflow: hidden;
        height: 100%;
        width: 100%;

        .image-element__wrap {
          height: 100%;
          max-height: none;
          img {
            height: 100%;
            @include object-fit(cover, center);
          }
        }
      }
    }

    .blog-card__content {
      @include flexbox();
      @include flex(3);
      @include flex-direction(column);
    }

    &.show-border-false {
      box-shadow: none;

      .blog-card__content {
        padding: 1.5rem;
      }
      .blog-card__read-more {
        margin-left: 0;
      }
    }

    .blog-card__read-more {
      margin: auto 0 0;
    }
  }
}

// mobile card styles
@include respond-to('medium-down') {
  .blog-card {

    &.is-horizontal {

      .blog-card__read-more {
        margin: 0;
      }
    }

    .image-element__wrap {
      max-height: 20rem;
    }
  }
}

.excerpt {
  position: relative;
  max-height: 6em;
  overflow: hidden;

  &.excerpt-length-sm .truncation-fade {
    display: none;
  }
}

.excerpt-length-lg .truncation-fade {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  margin: 0;
  padding: 30px 0;
  background-image: $truncation-fade;
}

.blog-card__link:hover .blog-card__image,
.blog-card__link:hover svg {
  transform: $transition-zoom;
}

.blog-card__image,
.blog-card__link svg {
  transition: transform $transition-speed ease-in-out;
}
