/* # Button
================================================== */

$button-color: $grey-darker !default;
$button-background-color: $white !default;

$button-border-color: $grey-lighter !default;
$button-border-width: $control-border-width !default;

$button-font: {{ settings.button__font.family }};
$button-font-fallback: {{ settings.button__font.fallback_families }};
$button-font-weight: {{ settings.button__font.weight }};
$button-letter-spacing: {{ settings.button_letter_spacing }}px;
$button-font-capitalization: {{ settings.button_font_style }};
$button-font-style: {{ settings.button__font.style }};

$button-padding-vertical: calc(0.375em - #{$button-border-width}) !default;
$button-padding-horizontal: 1em !default;

$button-hover-color: $link-hover !default;
$button-hover-border-color: $link-hover-border !default;

$button-focus-color: $link-focus !default;
$button-focus-border-color: $link-focus-border !default;
$button-focus-box-shadow-size: 0 0 0 0.125em !default;
$button-focus-box-shadow-color: rgba($link, 0.25) !default;

$button-active-color: $link-active !default;
$button-active-border-color: $link-active-border !default;

$button-text-color: $text !default;
$button-text-hover-background-color: $background !default;
$button-text-hover-color: $text-strong !default;

$button-disabled-background-color: $white !default;
$button-disabled-border-color: $grey-lighter !default;
$button-disabled-shadow: none !default;
$button-disabled-opacity: 0.5 !default;

$button-static-color: $grey !default;
$button-static-background-color: $white-ter !default;
$button-static-border-color: $grey-lighter !default;

// The button sizes use mixins so they can be used at different breakpoints
@mixin button-small {
  font-size: $size-small;
}

@mixin button-normal {
  font-size: $size-normal;
}

@mixin button-medium {
  font-size: $size-medium;
}

@mixin button-large {
  font-size: $size-large;
  line-height: 1.25em;
  width: 100%;
}

.button {
  @extend %control;
  @extend %unselectable;
  font-family: $button-font, $button-font-fallback;
  font-weight: $button-font-weight;
  font-style: $button-font-style;
  letter-spacing: $button-letter-spacing;
  background-color: $button-background-color;
  border-color: $button-border-color;
  border-width: $button-border-width;
  color: $button-color;
  cursor: pointer;
  @include justify-content(center);
  padding-bottom: $button-padding-vertical;
  padding-left: $button-padding-horizontal;
  padding-right: $button-padding-horizontal;
  padding-top: $button-padding-vertical;
  text-align: center;
  text-transform: $button-font-capitalization;
  transition: background 0.2s ease-in-out;
  white-space: nowrap;

  strong {
    color: inherit;
  }

  .icon {
    &,
    &.is-small,
    &.is-medium,
    &.is-large {
      height: 1.5em;
      width: 1.5em;
    }

    &:first-child:not(:last-child) {
      margin-left: calc(-0.375em - #{$button-border-width});
      margin-right: 10px;
    }

    &.icon--cart {
      font-size: 14px; // Declaring fixed font size for add to cart icon
    }

    &.icon--right {
      margin-left: 10px;
      margin-right: calc(-0.375em - #{$button-border-width});
    }

    &:first-child:last-child {
      margin-left: calc(-0.375em - #{$button-border-width});
      margin-right: calc(-0.375em - #{$button-border-width});
    }
  }

  // States
  &:hover,
  &.is-hovered {
    border-color: $button-hover-border-color;
    color: $button-hover-color;
  }

  &:focus,
  &.is-focused {
    border-color: $button-focus-border-color;
    color: $button-focus-color;

    &:not(:active) {
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
    }
  }

  &:active,
  &.is-active {
    border-color: $button-active-border-color;
    color: $button-active-color;
  }

  &.is-inverse {
    background-color: $button-color;
    border-color: transparent;
    color: $button-background-color;
  }

  // Colors
  &.is-text {
    background-color: transparent;
    border-color: transparent;
    color: $button-text-color;
    text-decoration: underline;

    &:hover,
    &.is-hovered,
    &:focus,
    &.is-focused {
      background-color: $button-text-hover-background-color;
      color: $button-text-hover-color;
    }

    &:active,
    &.is-active {
      background-color: darken($button-text-hover-background-color, 5%);
      color: $button-text-hover-color;
    }

    &[disabled],
    fieldset[disabled] & {
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
    }
  }

  // Sizes
  &.is-small {
    @include button-small;
  }

  &.is-normal {
    @include button-normal;
  }

  &.is-medium {
    @include button-medium;
  }

  &.is-large {
    @include button-large;
  }

  // Modifiers
  &[disabled],
  fieldset[disabled] & {
    box-shadow: $button-disabled-shadow;
    opacity: $button-disabled-opacity;
  }

  &.is-fullwidth {
    @include flexbox();
    width: 100%;
  }

  &.is-loading {
    color: transparent !important;
    pointer-events: none;

    &::after {
      @extend %loader;

      @include center(1em);

      position: absolute !important;
    }
  }

  &.is-loading--icon-only {
    background: transparent !important; // Override any button background
    border: transparent !important; // Override any button border
    font-size: 2rem !important; // Override button font size
    outline: none;

    &::after {
      color: $text;
    }
  }

  &.is-static {
    background-color: $button-static-background-color;
    border-color: $button-static-border-color;
    color: $button-static-color;
    box-shadow: none;
    pointer-events: none;
  }

  &.is-rounded {
    border-radius: $radius-rounded;
    padding-left: 1em;
    padding-right: 1em;
  }
}

.buttons {
  @include align-items(center);
  @include flexbox();
  @include flex-wrap(wrap);
  @include justify-content(flex-start);

  // Sizes
  &.are-small {
    .button:not(.is-normal):not(.is-medium):not(.is-large) {
      @include button-small;
    }
  }

  &.are-medium {
    .button:not(.is-small):not(.is-normal):not(.is-large) {
      @include button-medium;
    }
  }

  &.are-large {
    .button:not(.is-small):not(.is-normal):not(.is-medium) {
      @include button-large;
    }
  }

  &.has-addons {
    .button {
      &:not(:first-child) {
        border-bottom-left-radius: 0;
        border-top-left-radius: 0;
      }

      &:not(:last-child) {
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
        margin-right: -1px;
      }

      &:last-child {
        margin-right: 0;
      }

      &:hover,
      &.is-hovered {
        z-index: 2;
      }

      &:focus,
      &.is-focused,
      &:active,
      &.is-active,
      &.is-selected {
        z-index: 3;

        &:hover {
          z-index: 4;
        }
      }

      &.is-expanded {
        @include flex-grow(1);
      }
    }
  }

  &.is-center {
    @include justify-content(center);
  }

  &.is-right {
    @include justify-content(flex-end);
  }
}

// Variables for the different button styles: primary, secondary, and add-to-cart


{% assign btn_primary_alpha = settings.button_primary_bg_color_transparency | divided_by: 100.00 %}
{% assign btn_primary_hover_alpha = settings.button_primary_bg_color_transparency--highlight | divided_by: 100.00 %}
{% assign btn_secondary_alpha = settings.button_secondary_bg_color_transparency | divided_by: 100.00 %}
{% assign btn_secondary_hover_alpha = settings.button_secondary_bg_color_transparency--highlight | divided_by: 100.00 %}

{% if settings.button_primary_padding == 'small' %}
  $btn-primary-font-size: 0.75rem;
  $btn-primary-line-height: inherit;
  $btn-primary-width: auto;
{% elsif settings.button_primary_padding == 'regular' %}
  $btn-primary-font-size: 1rem;
  $btn-primary-line-height: inherit;
  $btn-primary-width: auto;
{% else %}
  $btn-primary-font-size: 1.25rem;
  $btn-primary-line-height: 1.25;
  $btn-primary-width: 100%;
{% endif %}

$btn-primary-border-radius: {{ settings.button_primary_border_radius }}px;
$btn-primary-text-color: {{ settings.button_primary_text_color }};
$btn-primary-text-color-highlight: {{ settings.button_primary_text_color--highlight }};
$btn-primary-bg-color: {{ settings.button_primary_bg_color | color_modify: 'alpha', btn_primary_alpha }};
$btn-primary-bg-color-highlight: {{ settings.button_primary_bg_color--highlight | color_modify: 'alpha', btn_primary_hover_alpha }};
$btn-primary-border-color: {{ settings.button_primary_border_color }};
$btn-primary-border-color-highlight: {{ settings.button_primary_border_color--highlight }};

{% if settings.button_secondary_padding == 'small' %}
  $btn-secondary-font-size: 0.75rem;
  $btn-secondary-line-height: inherit;
  $btn-secondary-width: auto;
{% elsif settings.button_secondary_padding == 'regular' %}
  $btn-secondary-font-size: 1rem;
  $btn-secondary-line-height: inherit;
  $btn-secondary-width: auto;
{% else %}
  $btn-secondary-font-size: 1.25rem;
  $btn-secondary-line-height: 1.25;
  $btn-secondary-width: 100%;
{% endif %}

$btn-secondary-border-radius: {{ settings.button_secondary_border_radius }}px;
$btn-secondary-text-color: {{ settings.button_secondary_text_color }};
$btn-secondary-text-color-highlight: {{ settings.button_secondary_text_color--highlight }};
$btn-secondary-bg-color: {{ settings.button_secondary_bg_color | color_modify: 'alpha', btn_secondary_alpha }};
$btn-secondary-bg-color-highlight: {{ settings.button_secondary_bg_color--highlight | color_modify: 'alpha', btn_secondary_hover_alpha}};
$btn-secondary-border-color: {{ settings.button_secondary_border_color }};
$btn-secondary-border-color-highlight: {{ settings.button_secondary_border_color--highlight }};

{% if settings.button_link_padding == 'small' %}
  $btn-link-style-font-size: 0.75rem;
  $btn-link-style-line-height: inherit;
{% elsif settings.button_link_padding == 'regular' %}
  $btn-link-style-font-size: 1rem;
  $btn-link-style-line-height: inherit;
{% else %}
  $btn-link-style-font-size: 1.25rem;
  $btn-link-style-line-height: 1.25;
{% endif %}

$btn-link-style-text-color: {{ settings.button_link_text_color }};
$btn-link-style-text-color-highlight: {{ settings.button_link_text_color--highlight }};

{% if settings.button_cart_padding == 'small' %}
  $btn-add-to-cart-font-size: 0.75rem;
  $btn-add-to-cart-width: 100%;
  $btn-add-to-cart-line-height: inherit;
{% elsif settings.button_cart_padding == 'regular' %}
  $btn-add-to-cart-font-size: 1rem;
  $btn-add-to-cart-line-height: inherit;
  $btn-add-to-cart-width: 100%;
{% else %}
  $btn-add-to-cart-font-size: 1.25rem;
  $btn-add-to-cart-width: 100% !important;
  $btn-add-to-cart-line-height: 1.25;
{% endif %}

$btn-add-to-cart-border-radius: {{ settings.button_cart_border_radius }}px;
$btn-add-to-cart-text-color: {{ settings.button_cart_text_color }};
$btn-add-to-cart-text-color-highlight: {{ settings.button_cart_text_color--highlight }};
$btn-add-to-cart-bg-color: {{ settings.button_cart_bg_color }};
$btn-add-to-cart-bg-color-highlight: {{ settings.button_cart_bg_color--highlight }};
$btn-add-to-cart-border-color: {{ settings.button_cart_border_color }};
$btn-add-to-cart-border-color-highlight: {{ settings.button_cart_border_color--highlight }};

// Button Mixins (1-2-3)
@mixin btn-primary {
  font-size: $btn-primary-font-size;
  border-radius: $btn-primary-border-radius;
  width: $btn-primary-width;
  line-height: $btn-primary-line-height;
  height: auto;
  max-width: 100%;
  white-space: normal;
  overflow-wrap: normal;

  // States
  &,
  &:link,
  &:visited {
    color: $btn-primary-text-color;
    background-color: $btn-primary-bg-color;
    border-color: $btn-primary-border-color;
  }

  &:hover,
  &.is-hovered {
    color: $btn-primary-text-color-highlight;
    border-color: $btn-primary-border-color-highlight;
    background-color: $btn-primary-bg-color-highlight;
  }

  &:focus,
  &.is-focused {
    color: $btn-primary-text-color-highlight;
    border-color: $btn-primary-border-color-highlight;
    background-color: $btn-primary-bg-color-highlight;

    &:not(:active) {
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
    }
  }

  &:active,
  &.is-active {
    color: $btn-primary-text-color-highlight;
    border-color: $btn-primary-border-color-highlight;
    background-color: $btn-primary-bg-color-highlight;
  }

  &.is-inverted {
    color: $btn-primary-bg-color;
    background-color: $btn-primary-text-color;
    border-color: $btn-primary-bg-color;
  }

  // Sizes
  &.is-small {
    @include button-small;
  }

  &.is-normal {
    @include button-normal;
  }

  &.is-medium {
    @include button-medium;
  }

  &.is-large {
    @include button-large;
  }
}

@mixin btn-secondary {
  font-size: $btn-secondary-font-size;
  border-radius: $btn-secondary-border-radius;
  line-height: $btn-secondary-line-height;
  width: $btn-secondary-width;
  height: auto;
  max-width: 100%;
  white-space: normal;

  // States
  &,
  &:link,
  &:visited {
    color: $btn-secondary-text-color;
    background-color: $btn-secondary-bg-color;
    border-color: $btn-secondary-border-color;
  }

  &:hover,
  &.is-hovered {
    color: $btn-secondary-text-color-highlight;
    border-color: $btn-secondary-border-color-highlight;
    background-color: $btn-secondary-bg-color-highlight;
  }

  &:focus,
  &.is-focused {
    color: $btn-secondary-text-color-highlight;
    border-color: $btn-secondary-border-color-highlight;
    background-color: $btn-secondary-bg-color-highlight;

    &:not(:active) {
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
    }
  }

  &:active,
  &.is-active {
    color: $btn-secondary-text-color-highlight;
    border-color: $btn-secondary-border-color-highlight;
    background-color: $btn-secondary-bg-color-highlight;
  }

  &.is-inverted {
    color: $btn-secondary-bg-color;
    background-color: $btn-secondary-text-color;
    border-color: $btn-secondary-bg-color;
  }

  // Sizes
  &.is-small {
    @include button-small;
  }

  &.is-normal {
    @include button-normal;
  }

  &.is-medium {
    @include button-medium;
  }

  &.is-large {
    @include button-large;
  }
}

@mixin btn-link-style {
  font-size: $btn-link-style-font-size;
  border: none;
  border-bottom: {% if settings.button_link_underline_thickness == 1 %}thin{% else %}{{ settings.button_link_underline_thickness }}px{% endif %} {{ settings.button_link_underline_style }};
  height: auto;
  line-height: $btn-link-style-line-height;
  padding: 0;
  transition: $transition-speed linear;
  background: transparent;
  max-width: 100%;
  white-space: normal;

  // States
  &,
  &:link,
  &:visited {
    color: $btn-link-style-text-color;
    border-bottom-color: $btn-link-style-text-color;
  }

  &:hover,
  &.is-hovered {
    color: $btn-link-style-text-color-highlight;
    border-bottom-color: $btn-link-style-text-color-highlight !important;
  }

  &:focus,
  &.is-focused {
    color: $btn-link-style-text-color-highlight;
    border-bottom-color: $btn-link-style-text-color-highlight;
  }

  &:active,
  &.is-active {
    color: $btn-link-style-text-color-highlight;
    border-bottom-color: $btn-link-style-text-color-highlight;
  }

  &.is-within-form {
    padding-bottom: $button-padding-vertical;
    padding-left: $button-padding-horizontal;
    padding-right: $button-padding-horizontal;
    padding-top: $button-padding-vertical;
  }
}

@mixin btn-add-to-cart {
  font-size: $btn-add-to-cart-font-size;
  border-radius: $btn-add-to-cart-border-radius;
  width: $btn-add-to-cart-width;
  line-height: $btn-add-to-cart-line-height;

  // States
  &,
  &:link,
  &:visited {
    color: $btn-add-to-cart-text-color;
    background-color: $btn-add-to-cart-bg-color;
    border-color: $btn-add-to-cart-border-color;
  }

  &:hover,
  &.is-hovered {
    color: $btn-add-to-cart-text-color-highlight;
    border-color: $btn-add-to-cart-border-color-highlight !important;
    background-color: $btn-add-to-cart-bg-color-highlight;
  }

  &:focus,
  &.is-focused {
    color: $btn-add-to-cart-text-color-highlight;
    border-color: $btn-add-to-cart-border-color-highlight;
    background-color: $btn-add-to-cart-bg-color-highlight;

    &:not(:active) {
      box-shadow: $button-focus-box-shadow-size $button-focus-box-shadow-color;
    }
  }

  &:active,
  &.is-active {
    color: $btn-add-to-cart-text-color-highlight;
    border-color: $btn-add-to-cart-border-color-highlight;
    background-color: $btn-add-to-cart-bg-color-highlight;
  }

  &.is-inverted {
    color: $btn-add-to-cart-bg-color;
    background-color: $btn-add-to-cart-text-color;
    border-color: $btn-add-to-cart-bg-color;
  }

  // Sizes
  &.is-small {
    @include button-small;
  }

  &.is-normal {
    @include button-normal;
  }

  &.is-medium {
    @include button-medium;
  }

  &.is-large {
    @include button-large;
  }
}

.button--primary,
a.button--primary.button {
  @include btn-primary;
}

.button--secondary,
.action_button--secondary,
a.button--secondary.button {
  @include btn-secondary;
}

.button--link-style,
a.button--link-style.button {
  @include btn-link-style;
}

.button--add-to-cart,
a.button--add-to-cart.button {
  @include btn-add-to-cart;
}

.shopify-challenge__button {
  @include btn-primary;
  padding: 0.5em 4em;
}
